/* ******** MOBILE DISPLAY  ********* */
@media(max-width: 500px) {
    /*Artists Section Styles */
            .title-container h1{
                width:80%;
                font-size: 3.5rem;
            }
            .title-container div {	
                 width:100%;
            }	
                /* height:60vh;
                margin:5% 0; */
            }
    button{
        padding:1% 3%;
        font-size: 1.5rem;
        /* border-radius:; */
        border:2px solid #626262;
        box-shadow: 2px 2px 1px #626262;
        transition: 2s;
    }
    .artists-container{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width:80%;
                margin:0 auto;
            }
    
            .artist{
                width:80%;
                text-align:center;
            }
            .artist img{
                width:80%;
                height:50%;
            }
    }